/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgb(255, 0, 112);
  --accent-color-opacity: 225, 0, 112;
  --main-title-color: rgb(219, 0, 255);
  --main-title-color-shadow: rgb(255, 0, 112);
  --title-decor-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
  --title-decor-background: rgb(255, 0, 112);
  --text-link-shadow: rgb(255, 0, 112);
  --background-image: url("../images/cover-image-dark.png");
}

:root {
  --accent-color: rgb(255, 0, 112);
  --accent-color-opacity: 225, 0, 112;
  --main-title-color: rgb(219, 0, 255);
  --main-title-color-shadow: rgb(255, 0, 112);
  --title-decor-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
  --title-decor-background: rgb(255, 0, 112);
  --text-link-shadow: rgb(255, 0, 112);
  --background-image: url("../images/cover-image-dark.png");
}

.page {
  background: var(--background-image) no-repeat center / cover
  fixed;
}

.header {
  background: var(--background-image) no-repeat center / cover;
}

.text__link {
  text-shadow: 2px 1px 0 var(--text-link-shadow);
}

.text__link_better-concentrate {
  text-shadow: 2px 2px 0 var(--text-link-shadow);
}

@media (768px <= width <= 1023px) {
  .text__link {
    border-bottom: none;
  }
  
  .text__link_concentrate {
    text-shadow: 3px 2px 0 var(--text-link-shadow);
  }

  .text__link_better-concentrate {
    text-shadow: 2px 1px 0 var(--text-link-shadow);
  }
}

@media (width >= 1024px) {
  .text__link {
    border-bottom: none;
  }

  .text__link_concentrate {
    text-shadow: 2px 2px 0 var(--text-link-shadow);
}
}