/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  background: url("../images/cover-image-dark.png") center / cover fixed;
}

:root.theme_dark {
  --accent-color: rgb(255, 0, 112);
  --accent-color-opacity: 225, 0, 112;
  --main-title-color: rgb(219, 0, 255);
  --usual-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
}

.theme_dark .header {
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
}

.theme_dark .border-decor::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.theme_dark .border-decor::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.theme_dark .main-title {
  color: var(--main-title-color);
}