/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background: url("../images/cover-image-dark.png") no-repeat center / cover fixed;
}


.header {
  display: grid;
  padding: 65px 10px 65px;
  position: relative;
  background: url("../images/cover-image-dark.png") no-repeat center / cover;
  min-block-size: 100vh;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--usual-color);
}

.title-decor_bold {
  font-weight: 700;
}

.title-decor_normal {
  font-weight: normal;
}

.border-decor::before,
.border-decor::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}

.border-decor::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.border-decor::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  margin-inline-start: auto;
  display: grid;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: start;
}

.header__theme-menu-button {
  padding: 0 13px;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: rgba(var(--accent-color-opacity), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  color: var(--main-title-color);
}

.header__text {
  block-size: min-content;
  align-self: end;
  min-block-size: 117px;
}

.header__rec-text {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec-text::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.concentrate__title {
  width: 90%;
}

.title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
}

.subtitle {
  color: var(--usual-color);
  font-size: inherit;
}

.text {
  color: var(--text-color);
}

.footer {
  min-block-size: 100vh;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (768px <= width <= 1023px) {
  .header__theme-menu-list {
    align-self: end;
  }

  .header__title {
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    min-inline-size: 364px;
    max-inline-size: 364px;
    min-block-size: 117px;
    justify-self: end;
  }
}

@media (width >= 1024px) {

  .header {
    padding: 20px 10px 20px;
  }

  .header__theme-menu {
    margin-inline: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    min-inline-size: 491px;
    max-inline-size: 491px;
    min-block-size: 71px;
    justify-self: end;
    align-self: start;
  }
}