/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 0 10px;
  background: var(--background-image) no-repeat center / cover fixed;
  background-color: var(--page-background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 74px 0 65px;
  position: relative;
  /* block-size: 100vh; */
  min-block-size: 668px;
}

.title-decor {
  background-color: var(--title-decor-background);
  color: var(--title-decor-color);
}

.title-decor_bold {
  font-weight: 700;
}

.title-decor_normal {
  font-weight: normal;
}

.border-decor::before,
.border-decor::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.border-decor::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.border-decor::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

.header__theme-menu {
  margin-inline-start: auto;
  display: grid;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: start;
}

.header__theme-menu-button {
  padding: 0 13px 1px;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: rgba(var(--accent-color-opacity), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  align-self: center;
}

.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  color: var(--main-title-color);
}

.header__text {
  block-size: min-content;
  align-self: end;
}

.header__rec-text {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 28px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec-text {
  display: var(--display-rec);
}

.header__rec-text::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main {
  padding-block-end: 40px;
}

.concentrate {
  padding-block-start: 40px;
}

.concentrate__title {
  inline-size: 90%;
}

.concentrate__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-wrapper:last-child {
  margin-block-end: 0;
}

.subtitle {
  font-size: inherit;
}

.text {
  color: var(--text-color);
}

.text__link {
  border-bottom: 1px solid currentColor;
  line-height: 1;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--text-link-shadow);
}

.text__link_better-concentrate {
  border-bottom: none;
  text-shadow: 2px 2px 0 var(--text-link-shadow);
}

.text__link_concentrate {
  border-bottom: var(--border-bottom);
}

.text__link_better-concentrate {
  border-bottom: none;
  text-shadow: 2px 0 0 var(--text-link-shadow);
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.decrease-concentrate,
.better-concentrate {
  padding-block-start: 50px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.better-concentrate {
  padding-block-end: 50px;
  gap: 0;
}

.better-concentrate__title {
  margin-block-end: 20px;
}

.better-concentrate__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.better-concentrate__gallery {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.gallery-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gallery-images__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  /* block-size: 100vh; */
  min-block-size: 667px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  padding-block-start: 0;
  text-shadow: 2px 2px 0 var(--main-title-color-shadow);
}

@media (768px <= width <= 1023px) {
  .page {
    padding: 0 20px;
  }

  .header {
    padding-block-start: 192px;
    min-block-size: 1024px;
    grid-template-rows: min-content 4fr 2fr;
  }

  .header__theme-menu {
    padding: 0;
  }

  .header__theme-menu-list {
    align-self: center;
  }

  .border-decor::before {
    inset-block-start: 20px;
  }

  .border-decor::after {
    inset-block-end: 20px;
  }

  .header__title {
    margin-inline-start: -22px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .text__link {
    border-bottom: none;
  }

  .text__link:hover {
    border-bottom: 1px solid currentColor;
  }

  .header__text {
    min-inline-size: 364px;
    max-inline-size: 364px;
    justify-self: end;
    align-self: start;
    margin-block-start: -12px;
  }

  .header__rec-text {
    inset-block-start: 20px;
  }

  .header__rec-text::after {
    content: "";
    position: absolute;
    inset-block-start: 8px;
    inset-inline-end: -19px;
  }

  .main {
    padding-block-end: 60px;
  }

  .concentrate {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 2fr;
    padding-block-start: 60px;
  }

  .concentrate__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .decrease-concentrate {
    padding-block-start: 60px;
  }

  .decrease-concentrate__title {
    inline-size: 236px;
  }

  .better-concentrate {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0 20px;
    padding: 80px 0;
  }

  .better-concentrate__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .better-concentrate__gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .gallery-images__image {
    object-fit: cover;
    object-position: center;
  }

  .gallery-images__image_sunset {
    grid-area: sunset;
  }

  .gallery-images__image_ice-cream {
    grid-area: ice-cream;
  }

  .gallery-images__image_tape {
    grid-area: tape;
  }

  .gallery-images__image_books {
    grid-area: books;
  }

  .gallery-images__image_street {
    grid-area: street;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 1023px) {
  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 var(--main-title-color-shadow-secondary);
  }
}

@media (width >= 1024px) {
  .page {
    padding: 0 20px;
  }

  .header {
    padding: 20px 0 20px;
    min-block-size: 768px;
  }

  .header__theme-menu {
    margin-inline: 0;
    padding-block-start: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    column-gap: 10px;
  }

  .border-decor::before {
    inset-block-start: 20px;
  }

  .border-decor::after {
    inset-block-end: 20px;
  }

  .header__title {
    margin-inline-start: -19px;
    align-self: start;
    text-shadow: 4px 4px 0 var(--main-title-color-shadow);
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .text__link {
    border-bottom: none;
  }

  .text__link_concentrate {
    text-shadow: 2px 2px 0 var(--text-link-shadow);
  }

  .text__link_better-concentrate {
    text-shadow: 2px 3px 0 var(--text-link-shadow);
  }

  .text__link:hover {
    border-bottom: 1px solid currentColor;
  }

  .header__text {
    min-inline-size: 491px;
    max-inline-size: 491px;
    justify-self: end;
    align-self: center;
  }

  .header__rec-text {
    inset-block-start: 20px;
  }

  .header__rec-text::after {
    content: "";
    position: absolute;
    inset-block-start: 8px;
    inset-inline-end: -19px;
  }

  .main {
    padding-block-end: 60px;
  }

  .concentrate {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 315px 1fr;
    padding-block-start: 60px;
  }

  .concentrate__title {
    inline-size: 100%;
  }

  .decrease-concentrate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-block-start: 60px;
  }

  .decrease-concentrate__title {
    grid-area: 1 / 1 / 2 / 2;
  }

  .text-wrapper_decrase-concentrate_multitasking {
    grid-area: 2 / 1 / -1 / 2;
  }

  .text-wrapper_decrase-concentrate_food {
    grid-area: 2 / 2 / -1 / 3;
  }

  .text-wrapper_decrase-concentrate_gadgets {
    grid-area: 2 / 3 / -1 / 4;
  }

  .better-concentrate {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0 20px;
    padding: 80px 0;
  }

  .better-concentrate__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .better-concentrate__gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .gallery-images__image {
    object-fit: cover;
    object-position: center;
  }

  .gallery-images__image_sunset {
    grid-area: sunset;
  }

  .gallery-images__image_ice-cream {
    grid-area: ice-cream;
  }

  .gallery-images__image_tape {
    grid-area: tape;
  }

  .gallery-images__image_books {
    grid-area: books;
  }

  .gallery-images__image_street {
    grid-area: street;
  }

  .footer {
    min-block-size: 768px;
  }
}
