/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background: url("../images/cover-image.png") no-repeat center / cover fixed;
}


.header {
  display: grid;
  padding: 65px 10px 65px;
  position: relative;
  background: url("../images/cover-image-dark.png") no-repeat center / cover;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--usual-color);
}

.title-decor_bold {
  font-weight: 700;
}

.border-decor::before,
.border-decor::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}

.border-decor::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.border-decor::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  margin-bottom: 65px;
  text-align: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: rgba(var(--accent-color-opacity), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  margin-bottom: 65px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  color: var(--main-title-color);
}

.header__rec-text {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec-text::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}


.title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
}