/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgb(255, 0, 112);
  --accent-color-opacity: 225, 0, 112;
  --main-title-color: rgb(219, 0, 255);
  --usual-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
  --title-decor-background: rgb(255, 0, 112);
  --background-image: url("../images/cover-image-dark.png");
}
